body {
    background: url(background.jpg);
    color: white;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    display: flex;
    align-items: center;
    flex-direction: column;
}
form {
    display: flex;
    flex-direction: row;
}
input, button, label{
    margin: 5px;
    padding: 5px;
    border-radius: 100px;
    border: none;
}
input:focus {
    outline: none;
}
.search {
    padding: 50px;
}
.weatherinfo {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 10px;
    text-align: center;
    width: 300px;
}
.temp {
    margin: 0;
    font-size: 400%;
}